<h2>Products</h2>
<div *ngFor = "let product of products"> 
    <h3> 
      <a [title] = "product.name + ' details'"
         [routerLink]="['/products', product.id]"
      >
      {{ product.name }}
      </a>

      <p *ngIf = "product.description">
      Description: {{ product.description }} 
      </p>
    </h3>

    <button type="button" (click)="share()">
      share
    </button>

    <!-- 
      [product]向子组件（productAlertComponent）传递数据
      (notify)为子组件中的该notify事件绑定一个事件，便于子组件向父组件通信
    -->
    <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
    >
    </app-product-alerts>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->